NET clk  LOC = AE10  ;
NET reset LOC= E7 ;
NET output<10>  LOC = W26  ;
NET output<15>  LOC = Y26  ;
NET output<20>  LOC = Y25  ;
NET output<25>  LOC = AA26  ;
NET output<30>  LOC = AA23  ;
NET output<35>  LOC = AC21  ;
NET output<40>  LOC = AB26  ;
NET output<45>  LOC = AC23  ;
NET output<50>  LOC = AB25  ;
NET output<55>  LOC = AD23  ;
NET output<60>  LOC = AC26  ;
NET output<65>  LOC = AD26  ;
NET output<70>  LOC = AC22  ;
NET output<75>  LOC = V22  ;
NET output<80>  LOC = V21  ;
NET output<85>  LOC = W22 ;
NET SDATA_IN    LOC = AD16  ;
NET SDATA_OUT   LOC = C8  ;
NET SYNC        LOC = D9  ;